@using JobsPlatform.Models;
@using JobsPlatform.BusinessLogic.DataLayer;
@using JobsPlatform.Enums;
@model UltimateWrapperModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Job Name</th>
                <th>Industry/th></th>
                <th>Minimum Salary</th>
                <th>Maximum Salary</th>
                <th>Benefits</th>
            </tr>
        </thead>
        <tbody>
                @foreach(var item in Database.everything)
                {
                    if (item.Identifier == 1)
                    {
                    <tr>
                        <td>item.Id</td>
                        <td>job.Name</td>
                        <td>job.Industry</td>
                        <td>job.minSalary</td>
                        <td>job.MaxSalary</td>
                        <td>job.Benefits</td>
                    </tr>
                    }
                }
        </tbody>
    </table>
</div>
